// ==========================================================================
// QUBED – Variables
// ==========================================================================

// Global Typography
@base-background-color:                         #373837;
@base-font-family:                              sans-serif;
@base-font-color:                               #fff;

// Headings
@heading-font-family:                           sans-serif;
@h1-font-size:                                  32;
@h1-line-height:                                38;
@h1-font-weight:                                @font-regular;
@h1-color:                                      #fff;
